<header class="row position-sticky top-0 z-3 py-2">
    <!-- Logo + Título -->
    <div id="logo" class="col-5 d-flex align-items-center">
      <a class="text-decoration-none d-flex align-items-center gap-2" rel="noopener" href="#">
        <img style="max-width: 60px;" src="ciervo-logo.webp" alt="logo">
        <h2 class="text-white mb-0">WorkNav</h2>
      </a>
    </div>
  
    <!-- Menú de navegación -->
    <div class="col-6 d-flex align-items-center justify-content-center">
      <nav class="d-flex flex-row flex-nowrap align-items-center">
        <a class="text-white text-decoration-none py-2 px-4" rel="noopener" href="#">Nosotros</a>
        <a class="text-white text-decoration-none py-2 px-4" rel="noopener" href="#">Descargar</a>
        <a class="text-white text-decoration-none py-2 px-4" rel="noopener" href="#">Planes</a>
        <a class="text-white text-decoration-none py-2 px-4" rel="noopener" href="#">Asistente</a>
        <button type="button" class="btn text-decoration-none py-1 px-3" style="background-color: #39BCDC;" (click)="Login()">
          <i class="bi bi-person"></i> Iniciar sesión
        </button>
      </nav>
    </div>
  </header>
  