<header class="row position-sticky top-0 z-3 g-0">
  <!-- Título -->
  <div class="col-5 d-flex align-items-center">
    <a routerLink="/" style="text-decoration: none">
      <h2 class="text-white mb-0" style="font-size: 1.25rem">
        <i
          class="bi bi-graph-up-arrow"
          style="
            margin-right: 20px;
            background: linear-gradient(135deg, #39bcdc, #3b5bdb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          "
        ></i
        >WorkNav
      </h2>
    </a>
  </div>

  <!-- Menú de navegación -->
  <div id="menu" class="col-7 d-flex align-items-center justify-content-end">
    <nav class="d-flex flex-row flex-nowrap align-items-center g-0">
      <button
        type="button"
        class="btn text-decoration-none py-1 px-3"
        style="background-color: #39bcdc; font-size: 0.85rem"
        routerLink="/registro"
      >
        <i class="bi bi-person-plus"></i> Regístrate
      </button>
    </nav>
  </div>
</header>
