<app-pantallazo></app-pantallazo> <!-- Pantalla de carga -->

<div class="video-container" style="background-color: #0d0d12;">
  <video id="video1" src="videoplayback.mp4" loop preload="auto" poster="miniatura.webp" muted playsinline autoplay></video>

  <!-- Capa con degradado encima del video -->
  <div class="video-overlay"></div>

  <div id="texto-video">
    <h1>Descubre las tendencias laborales globales en tiempo real</h1>
    <p>Explora empleos, habilidades en demanda y sectores emergentes con ayuda de IA</p>
    <div id="botones-video">
      <button id="boton1" type="button" class="btn btn-light" routerLink="/login"><strong>Prueba Gratis</strong></button>
      <button id="boton2" type="button" class="btn btn-light" routerLink="/login"><strong>Ver Más</strong></button>
    </div>
  </div>
</div>

<section id="menu">
  <ul>
    <li><img src="chrome-dev-tools-1-624x446.png" alt="chrome-dev-tools" style="width: 40px; height: auto;"> devtools</li>
    <li><img src="mysql-logo-png_seeklogo-273735.png" alt="mysql" style="width: 40px; height: auto;"> mysql</li>
    <li><img src="pluginIcon.png" alt="lombok" style="width: 40px; height: auto;"> lombok</li>
    <li><img src="java-web-token.png" alt="jwt" style="width: 50px; height: auto;"> JWT</li>
    <li><img src="R.png" alt="Jsoup" style="width: 40px; height: auto;"> Jsoup</li>
    <li><img src="LangChain_Logo-1.png" alt="LangChain" style="width: 40px; height: auto;"> LangChain</li>
    <li><img src="n8n.png" alt="n8n" style="width: 40px; height: auto;"> n8n</li>
    <li><img src="lm-studio-logo.png" alt="lm studio" style="width: 30px; height: auto;"> lm studio</li>
    <li><img src="xampp-logo-11609383422lj7pwtjrpy.png" alt="Xampp" style="width: 30px; height: auto;"> Xampp</li>
  </ul>
</section>

